header ul li{
    display: inline;
    margin-right: 50px;
    background-color: aliceblue;
    color: rgb(2, 37, 37);
}
main article figure{
    width: 100;
    margin: 0px;
}
main article section{
    font-size: 20px;

}
footer{
    text-align: center;
    background-color: rgb(141, 249, 249);
    height: 100px;
    
}